html {
  
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  transition: all 0.3s ease;
  background-color: #e7e4a2;
}

body.dark-mode {
  background: #181818;
  color: #f1f1f1;
}

body.dark-mode #navi {
  background: #181818;
  color: #e7e4a2; 
  border-bottom: 2px solid #e7e4a2;
}

/* 다크모드일 때만 색 반전 */
body.dark-mode #btnImg {
  filter: invert(1);
}

body.dark-mode .logo{
  color: #e7e4a2; 
}


#toggleMode {
  border: none;
  /* 테두리 제거 */
  background: none;
  /* 배경색 제거 */
  cursor: pointer;
  /* 마우스 오버 시 손가락 모양 */
}

#btnImg {
  width: 40px;
  height: 40px;
  transition: filter 0.3s;
}


/* 섹션 */
section {
  scroll-margin-top: 260px;
}

.fade-in-section {
  opacity: 0;
  /*아직 안보임*/
  transform: translateY(30px);
  /*Y축기준 30px밑에서 대기*/
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-in-section.visible {
  opacity: 1;
  transform: none;
}


.logo {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;

  line-height: 100px;
  display: block;
  font-size: 70px;
  text-decoration: none;
  /* 링크의 밑줄 제거 */
  color: inherit;
  /* 링크의 색상 제거 */
}

.logo:focus {
  outline: none;
}

#navi {
  padding-top: 70px;
  padding-bottom: 20px;
  width: 100%;
  height: 60px;
  position: relative;
  text-align: center;
  border-bottom: 2px solid black;

  position: sticky;
  top: 0;
  background: #e7e4a2;
  z-index: 1000;
  transition: all 0.3s ease;
}

#navi ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* 메뉴가 양 끝으로 벌어짐 */
  box-sizing: border-box;
  padding: 0 100px;
  margin: 0;
}

#navi ul li {
  list-style: none;
  float: left;
  line-height: 50px;
  font-size: 33px;

}

#navi ul li a {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;
  /* 링크의 밑줄 제거 */
  color: inherit;
  /* 링크의 색상 제거 */
}

#navi ul li a:hover {
  color: #afbfc9;
}

#about {
  height: 400px;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  margin: 50px 0 200px 0;
}

.title {
  font-size: 40px;
  display: flex;
  align-items: center;
  margin: 0 90px;
}

#aboutBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

#profile-photo {
  width: 300px;
  /* 원하는 크기로 조정 */
  height: 300px;
  border-radius: 30%;
  object-fit: cover;
  background-color: #e5ebef;
  justify-content: flex-end;
  margin: 30px;
  border: 4px solid black;
  /* 이미지가 없을 때 배경색 */
}

#aboutText1 {
  margin: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#aboutText1 h1{
  font-size: 50px;
  margin:0;
}

#aboutText1 a{
  width: 30px;
  height: 30px;
}

/* #aboutText1 a:hover{
  font-size: 50px;
  margin:0;
  transition: all 0.3s ease;
} */

#aboutText2 {
  margin: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#contactBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
  border: 4px solid black;
  background-color: #e5ebef;
  /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2); */
  width: 40%;
  font-size: 25px;
  padding: 50px;

}

#contactBox a {
  text-decoration: none;
  /* 링크의 밑줄 제거 */
  color: inherit;
  /* 링크의 색상 제거 */
}
#contactBox p :hover{
  color:#757b7f;
}


.contactImg{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin: 10px;
}




#skillTitle {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 70px;
}

.Imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skillImg {
  width: 100px;
  height: 100px;
  background-color: #e5ebef;
  margin: 25px 40px;
}

#projectTitle {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 80px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 200px;
}

.card {
  border: 4px solid black;
  border-radius: 35px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #e5ebef;
  width: 230px;
  height: 160px;
  font-size: 15px;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.7s cubic-bezier(.4,2,.6,1), box-shadow 0.2s;
}

.card:hover{
   transform: translateY(-4px) scale(1.02);
  box-shadow: 0 8px 24px rgba(0,0,0,0.18), 0 1.5px 3px rgba(0,0,0,0.10);
}

.modal {
  display: none;
  /*모달 숨기기*/
  position: fixed;
  z-index: 3000;
  /*다른 요소 위에 표시*/
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-content {
  background: #e5ebef;
  padding: 30px 25px;
  border-radius: 12px;
  width: 500px;
  height: 500px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}

.close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 2rem;
  cursor: pointer;
  color: #888;
}


#contact {
  height: 400px;
  display: flex;
  justify-content: flex-end;
  border-radius: 30px;
  font-size: 20px;
  margin: 50px 0 250px 0;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  
}

footer p {
  margin-top: 100px;
  color: #aaa;              /* 연한 회색 */
  font-size: 0.95em;        /* (선택) 글자 크기 살짝 줄이기 */
  letter-spacing: 0.02em;   /* (선택) 자간 살짝 넓히기 */
}

#upwardBtn {
  border: none;
  /* 테두리 제거 */
  background: none;
  /* 배경색 제거 */
  cursor: pointer;
  /* 마우스 오버 시 손가락 모양 */
}

#upwardImg {
  width: 45px;
  height: 45px;
}

body.dark-mode #upwardBtn {
  filter: invert(1);
}